In [ ]:
'''
Curso: Fundamentos de Python
Sesión: 01/04
Fecha: 29-03-2025
Autor: Godofredo Dia
Email: gdiaz@tecsup.edu.pe
'''

# Comentario de una línea
# Creando la variable [nombre], tipo string y almancena solo nombre
nombre = "Godofredo"

# Creando la variable [apellido], tipo string y almancena solo apellido(s)
apellido = "Diaz Espinoza"

# Creando la variable [edad], tipo string y almancena solo la edad.
edad = 25
'''
print(type(nombre))
print(type(apellido))
print(type(edad))
'''

# Usando la función print() para crear un texto y convertir
# un entero en string usando la función str()

print("Hola soy", nombre + apellido, " tengo:", " " + str(edad), "años")

Hola soy GodofredoDiaz Espinoza  tengo:  25 años

In [ ]:
# Mostrando las palabras reservadas.

# Mostrando las palabras reservadas.

import keyword
print(keyword.kwlist)
continue_var = "Data" # variable renamed
print (continue_var)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Data

In [ ]:
# Ver el tipo de dato, usando la función type()

dato_var = None
dato_var = 1
dato_var = 1.5
dato_var = "Hola"
dato_var = 0

print(type(dato_var))

<class 'int'>

In [ ]:
# Solicitando ingreso de datos, usando la función input(prompt='',/)
data_input = input("Ingrese su sólo números: ")
print(data_input)
print(type(data_input))

# Convirtiendo un string a entero usando int()
data_input = int(input("Ingrese su sólo números: "))
print(data_input)
print(type(data_input))

Ingrese su sólo números: 444
444
<class 'str'>
Ingrese su sólo números: 33
33
<class 'int'>

In [ ]:
# Operadores.
div_entera = 5 //2
print(div_entera)

resto = 5 % 2
print(resto)

2
1

In [ ]:
# Reto 01
# Genere un programa que solicite 3 números y devuelva, la suma, resta y multiplicación.
dato1 = int(input("Ingrese el primer número: "))
dato2 = int(input("Ingrese el segundo número: "))
dato3 = int(input("Ingrese el tercer número: "))

suma = dato1 + dato2 + dato3
resta = dato1 - dato2 - dato3
multiplicacion = dato1 * dato2 * dato3

print ("La suma es: ", suma)
print ("La resta es: ", resta)
print ("La multiplicación es: ", multiplicacion)

Ingrese el primer número: 10
Ingrese el segundo número: 5
Ingrese el tercer número: 4
La suma es:  19
La resta es:  1
La multiplicación es:  200

In [ ]:
# Trabajando con operadores lógicos (True and False).

x,y = 42,5
res = x>y
print (res)

True

In [ ]:
# Operadores string
# 01234567
# 5   -2-1
mensaje = "Hola como estas"
print (mensaje)
print (mensaje[5])

Hola como estas
c

In [ ]:
from re import M
# Operadores string
mensaje ="Hola mundo"
print(mensaje.upper())

HOLA MUNDO

In [ ]:
nombres = ["Pedro","Juan","Santiago","Judas"]
#nombres = [3,3,3]
print(type(nombres))

# Sintaxis de for
# suma de n en la lista
suma_string = ""
for elemento in nombres:
  suma_string = 2 * elemento
  print(suma_string)


print(suma_string)

<class 'list'>
PedroPedro
JuanJuan
SantiagoSantiago
JudasJudas
JudasJudas